@import "bootstrap/dist/css/bootstrap.min.css";
.my-application {
	margin: 50px 0px;
}
.app-table h3 {
	margin-bottom: 30px;
}
thead {
	background-color: rgba(0, 0, 0, 0.08);
}
th {
	text-align: left;
	padding: 15px 15px;
	max-width: 50px;
	color: rgba(0, 0, 0, 0.5);
}
th:nth-child(1) {
	width: 16%;
}
th:nth-child(2) {
	width: 20%;
}
th:nth-child(3) {
	width: 13%;
}
th:nth-child(4) {
	width: 13%;
}
th:nth-child(5) {
	width: 20%;
}
th:last-child {
	width: 18%;
}
th:last-child div {
	width: 40%;
}

td {
	padding: 15px;
	color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
}
td:last-child {
	text-align: center;
}

tr {
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.my-application-title {
	text-align: center;
}

table.m-b23fa0ef.mantine-Table-table {
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 75%;
}
@media (max-width: 992px) {
	table.m-b23fa0ef.mantine-Table-table {
		font-size: 0.6rem;
	}
}
@media (max-width: 768px) {
	table.m-b23fa0ef.mantine-Table-table {
		font-size: 0.5rem;
	}
}

table.m-b23fa0ef.mantine-Table-table {
	min-width: 645px;
}

.table-style {
	border-radius: 5px;
	border: 1px solid #eee;
	overflow: auto;
}

.edite-icon {
	color: #00a7fb;
	font-size: 1rem;
	float: right;
	margin-top: -7px;
}
.help-icon {
	color: #00a7fb;
	font-size: 1rem;
}
.rock-icon {
	color: #fb6300;
	font-size: 1rem;
}
.icon {
	margin-top: -25px;
	font-size: 1rem;
	color: #00a7fb;
	float: left;
}

.application-status-1 span {
	padding: 0px 20%;
	background-color: #fffab7;
	border-radius: 7px;
}

.application-status-2 span {
	padding-left: 10px;
	font-weight: 800;
	color: #3e95c0;
}
