.style{
    background-image: url("https://internshala.com/static/images/registration/student_new/background.png");
    width: 100%;
    background-size: cover;
}
.titleHeader{
    text-align: center;
}
.title{
    font-size: 40px; 
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0px;
    color: var(--gray-color);
}

.companies{
  font-size: 25px; 
  font-weight: 500;
  letter-spacing: -1px;
  margin-top: 5px;
  color:var(--gray-color);
}

@media (max-width: 450px) {
  .titleHeader{
    margin-top: 5px;
  }
  .title{
    font-size: 30px; 
    font-weight: 500;
  }
  .companies{
    font-size: 20px; 
    font-weight: 400;
    margin-top: 5px;
  }
  
}

.btnGoogle{
  color: var(--second-color);
}

.form{
    width: auto;
    padding: 20px 20px;
    border: 1px solid var(--outline-field-color);
    border-radius: 10px;
    box-shadow: -2px -2px 6px var(--form-shadow), 2px 2px 6px var(--form-shadow);
}

@media (max-width:475px) {
  .form{
    margin-left: 10px;
    margin-right: 10px;
  }
}
.label{
  color: var(--second-color);
    font-weight: 500;   
}

.field{
  color: var(--second-color);
    width: 100%;
    outline: none;
    margin-top: 5px;
    border: 0.5px solid var(--outline-field-color);
    border-radius: 5px;
    padding: 5px;
}

.field:focus{
    box-shadow: -2px -2px 6px var(--form-shadow), 2px 2px 6px var(--form-shadow);
    
}

.message{
    color: red;
}

.underline{
    /* width:300px; */
    height:5px;
    margin:5px 15px;
    background-color:#00a7fbd9;
    border-radius:6px;
    animation: width 2s ease-in-out  alternate-reverse both;
}
@media  (max-width:600px){
    .underline{
    animation: maxWidth 1s ease-in-out  alternate-reverse both;
    }
}

@keyframes maxWidth {
    0% {
      width:250px;
    }
    100% {
      width:0px;
    }
  }


@keyframes width {
  0% {
    width:450px;
  }
  100% {
    width:0px;
  }
}

.signing{
  color: var(--second-color);
}

.loginNow{
  color:var(--gray-color);
  font-weight: 500;
  margin-right: 5px;
}
