.style{
    background-image: url("https://internshala.com/static/images/registration/student_new/background.png");
    width: 100%;
    background-size: cover;
}

.title {
    margin-bottom: -10px;
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
    color: var(--gray-color);
  }

  .form{
    width: auto;
    padding: 20px 20px;
    border: 1px solid var(--outline-field-color);
    border-radius: 10px;
    box-shadow: -2px -2px 6px var(--form-shadow), 2px 2px 6px var(--form-shadow);
}


.field{
  color: var(--second-color);

    width: 100%;
    outline: none;
    margin-top: 5px;
    border: 0.5px solid var(--outline-field-color);
    border-radius: 5px;
    padding: 5px;
}

.label{
    font-weight: 500;   
    color: var(--second-color);
}

.field:focus{
    box-shadow: -2px -2px 6px var(--form-shadow), 2px 2px 6px var(--form-shadow);
    
}


.registerNow{

    text-align: center;
    font-weight: 500;
    margin-right: 5px;
    margin-bottom: 0px;
    color:var(--gray-color);
}